bh.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bh">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="sale">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="store" type="xs:string" />
                <xs:element name="seller" type="xs:string" />
                <xs:element name="date" type="xs:date" />
                <xs:element name="total" type="xs:decimal" />
                <xs:element maxOccurs="unbounded" name="item">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="price" type="xs:decimal" />
                      <xs:element maxOccurs="unbounded" name="album">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="band" type="xs:string" />
                            <xs:element name="title" type="xs:string" />
                            <xs:element name="format" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>